.toolbar {
  height: 50px;
  background: lightgrey;
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.toolbar {
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}

.toolbar button,
.toolbar select {
  flex: 0 0 80px;
  width: 80px;
  height: 30px;
}

.button-disabled {
  color: #ccc;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

.shapeList {
  flex-grow: 1;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  overflow-y: auto;

  top: 50px;
  position: absolute;
  bottom: 50px;
  padding: 20px;
  box-sizing: border-box;
}

.shapeList::before,
.shapeList::after {
  content: "";
  display: block;
  height: 50px;
  flex-shrink: 0;
}

.shape {
  margin: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shape:hover {
  outline: 4px solid lightblue;
}

.shape.selected {
  outline: 1px solid blue;
  outline-offset: 2px;
}

.shape.star,
.shape.bullseye,
.shape.cat {
  border: 1px solid lightgrey;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.shape.square {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.thick-outline,
.thick-outline:hover {
  outline: 4px solid blue;
  outline-offset: 1px;
}

.bottombar {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  background: lightgrey;
  width: 100%;
  position: absolute;
}

.statusbar1 {
  padding-left: 10px;
}
.buttons {
  align-items: center;

  gap: 10px;
  display: flex;
}
.bottombar button {
  width: 80px;
  height: 30px;
}

.statusbar2 {
  align-items: right;
  padding-right: 10px;
}
